<div class="header">
  <div class="wrapper">
      <ul class="menu-header">
        <li class="item-list">Abra sua conta</li>
        <li class="item-list">Investimentos</li>
        <li class="item-list">Planos</li>
      </ul>
  </div>
  
  <div>
    <form>
      <div class="form">
        <div class="form-check">
          <label for="" class="form-check-label">
            <b>Acesse</b> sua conta
          </label>
          <input type="text" class="form-control" id="inlineFormInputNmae" 
          placceholder="Digite seu CPF">
        </div>
        <div>
          <button type="submit" class="btn btn-primary acessar-conta">Acessar</button>
        </div>
      </div>
    </form>
  </div>
</div>
